@font-face {
    font-family: 'ArialRegular';
    src: url('../../assets/fonts/Arial/Arimo-Regular.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialBold';
    src: url('../../assets/fonts/Arial/Arimo-Bold.ttf') format("ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ArialItalic';
    src: url('../..assets/fonts/Arial/Arimo-Italic.ttf') format("ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ArialItalicBold';
    src: url('../../assets/fonts/Arial/Arimo-BoldItalic.ttf') format("ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GeorgiaRegular';
    src: url('../../assets/fonts/Georgia/GeorgiaRegular.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeorgiaBold';
    src: url('../../assets/fonts/Georgia/georgiaBold.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
}

